{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
{% block content %}

<div class="main-title text-center">
    <div class="container">
          <h1 >Your Simple ToDo lists</h1>
          <h2 >Access it anywhere from any device at any time</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                     <ul class=flashes>
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
          <hr>
    </div>
</div>
<h2 style="text-align:center">Forgot Password</h2>
<h5 style="text-align:center"> Please enter your email and we will send you a password reset link.</h5>

{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary", "btn_cancel":"secondary"})}}


{% include "footer.html" %}
{% endblock %}
