
{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
{% block content %}
<div class="main-title text-center">
    <div class="container">
  <h1 >️Your Simple ToDo lists</h1>
  <h2 >Login to see and manage your tasks</h2>
  <hr>

</div>
    </div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
    <div class="row">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary", "register": "primary", "btn_cancel":"secondary"} ) }}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}